section.collaboration
    .container
        .contact-cards
            .row
                .col-md-6.col-lg-4.col-xl-3
                    a(href="#" data-toggle="modal" data-target="#modalForm").contact-card
                        .card-icon
                            img(src="img/emoji/bag.png" width='100')
                        .card-text
                            .article-title
                                h4 Partner with Us
                            p Share more so we can explore ways to work together
                        .page-button.w-200.page-button.w-200 Get in touch
                .col-md-6.col-lg-4.col-xl-3
                    a(href="#").contact-card
                        .card-icon
                            img(src="img/emoji/voice.png" width='100')
                        .card-text
                            .article-title
                                h4 Send Feedback
                            p Have some ideas about what we can do better?
                        .button-light.w-200(data-toggle="modal" data-target="#modalForm") Share thoughts
                .col-md-6.col-lg-4.col-xl-3
                    a(href="#").contact-card
                        .card-icon
                            img(src="img/emoji/hand.png" width='80')
                        .card-text
                            .article-title
                                h4 Help & Support
                            p Questions? We’re here to help!
                        .button-light.w-200(data-toggle="modal" data-target="#modalForm") Get help
                .col-md-6.col-lg-8.col-xl-3
                    .text-block.text-block--flex
                        .text-20
                            p Tell us a bit more about you so we can explore ways to partner with you and collaborate

