
.review-banner {
	margin-bottom: 50px;
	margin-top: 175px;
	@media(max-width:767px){
		margin-top: 165px;
	}
}

.review-banner__img {
  border-radius: 15px;
  background-color: #2156A4;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: unset;
    height: 80px;
    width: auto;
  }

  height: 200px;
  
}
.loan-terms-info {
  @media(max-width:767px){
    .col-md-6 + .col-md-6{margin-top: 40px;}
  }
}