.review-banner {
	margin-bottom: 50px;
	margin-top: 115px;
	@media(max-width:767px){
		margin-top: 50px;
	}
}

.review-banner__img {
	border-radius: 15px;
	// background-position: center;
	// background-repeat: no-repeat;
	background-color: #2156A4;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width:unset;
		height: 80px;
		width: auto;
	}
	height: 200px;
	@media(max-width:767px){
		border-radius: 0;
	}
}