// ===== FONTS =====
@m400: "Montserrat-Regular", sans-serif;
@m500: "Montserrat-Medium", sans-serif;
@m600: "Montserrat-SemiBold", sans-serif;
@m700: "Montserrat-Bold", sans-serif;

// ===== colors =====