* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: @text;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  line-height: normal;
  background-color: #F4FBFF;

}

a,
a:hover {
  text-decoration: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3, h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  max-width: 100%;
}

input, input:focus, button, button:focus, input::placeholder {
  outline: none;
  font-family: inherit;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 375px) {

    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 768px) {
    max-width: 630px;
    padding: 0;
  }
  @media (min-width: 992px) {
    max-width: 930px;
  }
  @media (min-width: 1365px) {
    max-width: 1290px;
    min-width: 1290px;

  }
}

.container-large {
  width: 100%;
  @media (min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

// titles
.title-1 h1 {
  font-size: 80px;
  line-height: 1.12;
  color: #ffffff;
  font-weight: 900;

  @media (max-width: 1364px) {
    font-size: 70px;
    line-height: 1.29;
  }

  @media (max-width: 767px) {
    font-size: 36px;
    line-height: 1.22;
  }
}
.section-title h2,
.title-3 h3 {
  font-size: 40px;
  line-height: 1.22;
  color: @purple;
  font-weight: 900;
}
.section-title{
  margin-bottom: 40px;
}
.section-title h2{
  
  @media(max-width:991px){
    font-size: 34px;
  }
  @media(max-width:767px){
    font-size: 24px;
  }
}
.block-title{
  margin-bottom: 20px;
}
.block-title h3{
  font-size: 30px;
  line-height: 1.23;
  font-weight: 700;
  @media(max-width:767px){
    font-size: 20px;
    line-height: 1.4;
  }
}
.article-title h3,
.title-4 h4 {
  font-size: 34px;
  line-height: 1.23;
  color: @purple;
  font-weight: 900;
}

.head-4 h4 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

//text
p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.text-30 p {
  font-size: 30px;
  line-height: 1.2;
}
.article-title h4,
.text-24 p {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: @purple;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.text-20 p {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}


//link
.text-link{
  color: @blue;
  border-bottom: 1px solid @blueOp;
}
//color text
.text-bold p, p.text-bold{
  font-weight: 700;
}
.red-text, .red-text p{
  color:@red ;
}
.green-text,
.green-text p{
 color: @green;
}
.bg-blue{
  border-radius: 15px;
  background-color: @darkblue;
  padding: 30px;
}
//label
.card-label{
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
  line-height: 29px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  position: absolute;
  
  background-color: @green;
}

.card-label.card-label--orange{
  background-color: @orange;
}
