header.inner-header
    .container-large
        .container--blue
            .title-1
                h1 Consumer reviews
                .text-30
                    p Ğbout loans, mortgages, credit cards and other things that matter