a(href="#!").page-button Get your rate
pre(style="margin-bottom: 30px; margin-top: 15px").
	a(href="#!").page-button Get your rate
	button.page-button Get your rate

.page-button.w-100 Get your rate
pre(style="margin-bottom: 30px; margin-top: 15px").
	a(href="#!").page-button.w-100 Get your rate
	button.page-button.w-100 Get your rate

input.page-button(value="Find my best loan")
pre(style="margin-bottom: 30px; margin-top: 15px").
	input.page-button(value="Find my best loan")

a(href="#!").button-light Get your rate
pre(style="margin-bottom: 30px; margin-top: 15px").
	a(href="#!").button-light Get your rate
	button.button-light Get your rate

button.button-light.w-100 Get your rate
pre(style="margin-bottom: 30px; margin-top: 15px").
	a(href="#").button-light.w-100 Get your rate
	button.button-light.w-100 Get your rate

button.button-light.w-200 Get your rate
pre(style="margin-bottom: 30px; margin-top: 15px").
	a(href="#").button-light.w-200 Get your rate
	button.button-light.w-200 Get your rate

button.page-button.w-200 Get your rate
pre(style="margin-bottom: 30px; margin-top: 15px").
	a(href="#").page-button.w-200 Get your rate
	button.page-button.w-200 Get your rate