//========== section ===========
section.loan-offers
	.container
		.section-title
			h2 Top-3 best personal loans&nbsp;for&nbsp;you
		.loan-cards
			.row
				//==========cred card===========
				.col-md-6.col-lg-3
					.loan-card.loan-card--cred
						a(href="review.html").loan-card__inner
							.card-label Best APR
							.loan-card__head
								img(src="img/logo/1.png", alt="logo")
								
							.loan-card__body
								.loan-card__title
									.head-4
										h4 Credible
									.page-tooltip
										span ?
										.page-tooltip__box
											p Lenders often determine loan approval based on combo of loan purpose & amount
								.flex-inner
									.loan-card__terms
										.terms-item.green-text
											p 4%
											p Min APP
										.terms-item
											p 15 
												span years
											p MAX loan term
									.loan-card__rating
										.rating-star
											+star
											+star
											+star
											+star
											+star
										.rating-info
											p 2,619 reviews on Starpilot
							.loan-card__footer
								.button-link Review
								.button-light Review the offer
						a(href="#!" data-toggle="modal" data-target="#modalForm").page-button.w-200 Get your rate
				//==========free card===========
				.col-md-6.col-lg-3
					.loan-card.loan-card--lfree
						a(href="review.html").loan-card__inner
							.card-label Best loan term
							.loan-card__head
								img(src="img/logo/2.png", alt="logo")
								
							.loan-card__body
								.loan-card__title
									.head-4
										h4 LendingTree
									.page-tooltip
										span ?
										.page-tooltip__box
											p Lenders often determine loan approval based on combo of loan purpose & amount
								.loan-card__terms
									.terms-item
										p 6%
										p Min APP
									.terms-item.green-text
										p 20 
											span years
										p MAX loan term
								.loan-card__rating
									.rating-star
										+star
										+star
										+star
										+star
										+star(class="passive-star")
									.rating-info
										p 1,871 reviews on Starpilot
							.loan-card__footer
								.button-link Review
						a(href="#!").page-button.w-200 Get your rate
				//==========club card===========
				.col-md-6.col-lg-3
					.loan-card.loan-card--lclub
						a(href="review.html").loan-card__inner
							.card-label.card-label--orange Best rating
							.loan-card__head
								img(src="img/logo/3.png", alt="logo")
							.loan-card__body
								.loan-card__title
									.head-4
										h4 LendingClub
									.page-tooltip
										span ?
										.page-tooltip__box
											p Lenders often determine loan approval based on combo of loan purpose & amount
								.loan-card__terms
									.terms-item
										p 6%
										p Min APP
									.terms-item
										p 12 
											span years
										p MAX loan term
								.loan-card__rating
									.rating-star
										+star
										+star
										+star
										+star
										+star
									.rating-info
										p 1,871 reviews on Starpilot
							.loan-card__footer
								.button-link Review
						a(href="#!").page-button.w-200 Get your rate
				//==========last card===========
				.col-md-6.col-lg-3
					.card-fvi 
						.card-fvi__img
						.card-fvi__body
							.card-fvi__label
								p FVI
							.card-fvi__text
								p The Annual Percentage Rate (APR) is the cost you pay each year to borrow money, including fees, expressed as a percentage 
		include _form-subscribe


include _card-offer