section.loan-offers
	.container
		.section-title
			h2 Top-3 best personal loans
		.loan-cards
			.row
				.col-md-6.col-xl-3
					+loan-card('Best APR', '1', 'Credible', '4', '15')
				.col-md-6.col-xl-3
					+loan-card('Best loan term', '2', 'LendingTree', '6', '20')
				.col-md-6.col-xl-3
					+loan-card('Best rating', '3', 'LendingClub', '6', '12')
				.col-md-6.col-xl-3
					+card-fvi
			.card-block__button
				.row
					.col-xl-9
						button#show-cards.button-light.w-100 Show all personal loan offers
		+subscribe-block('bg-blue')