section.loan-offers
	.container
		.section-title
			h2 Top-3 best personal loans for you
		.loan-cards
			.row
				.col-lg-4
					.loan-card.loan-card-1
						.card-label Best APR 
						.loan-card__head(style="background-image: url(img/cards/credible.jpg)")
							
						.loan-card__body
							.loan-card__title
								.head-4
									h4 Credible
								.help-block ?
							.flex-inner
								.loan-card__terms
									.terms-item.green-text
										p 4%
										p Min APP
									.terms-item
										p 15 
											span years
										p MAX loan term
								.loan-card__rating
									.rating-star
										+star
										+star
										+star
										+star
										+star
									.rating-info
										p 2,619 reviews on Starpilot
						.loan-card__footer
							button.page-button.w-200 Get your rate
							a(href="#!").button-link Review
							a(href="#!").button-light Review the offer
				.col-md-6.col-lg-4
					.loan-card.loan-card-2
						.card-label Best loan term
						.loan-card__head(style="background-image: url(img/cards/lendingtree.jpg)")
							
						.loan-card__body
							.loan-card__title
								.head-4
									h4 LendingTree
								.help-block ?
							.loan-card__terms
								.terms-item
									p 6%
									p Min APP
								.terms-item.green-text
									p 20 
										span years
									p MAX loan term
							.loan-card__rating
								.rating-star
									+star
									+star
									+star
									+star
									+star(class="passive-star")
								.rating-info
									p 1,871 reviews on Starpilot
						.loan-card__footer
							button.page-button.w-200 Get your rate
							a(href="#!").button-link Review
				.col-md-6.col-lg-4
					.loan-card.loan-card-3
						.card-label.card-label--orange Best rating
						.loan-card__head(style="background-image: url(img/cards/Lendingclub.jpg)")
							
						.loan-card__body
							.loan-card__title
								.head-4
									h4 LendingClub
								.help-block ?
							.loan-card__terms
								.terms-item
									p 6%
									p Min APP
								.terms-item
									p 12 
										span years
									p MAX loan term
							.loan-card__rating
								.rating-star
									+star
									+star
									+star
									+star
									+star
								.rating-info
									p 1,871 reviews on Starpilot
						.loan-card__footer
							button.page-button.w-200 Get your rate
							a(href="#!").button-link Review
		include _form-subscribe