//========== faq-accordion ===========
.row 
    .col-xl-9
        .faq-accordion
            //========== ONE CARD ==============
            .card
                #headingOne.card-header.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                    .text-block__column
                        .head-4
                            h4 What’s my credit score?
                    .accordion-icon
                        +arrow
                #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                    .text-paragraph
                        .row
                            .col-lg-8
                                p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms.
                                p Typically anything under 630 is considered a bad credit rating, and even when people in this range do get loans, they tend to have a 28.64% APR on average. If you have collateral to put up, this can help you secure better terms despite a low credit rating.
                                p In addition, many lenders allow cosigned loans. These are loans where someone with better credit co-signs the loan with you. While this is a way for you to get a loan that you’d be shut out from otherwise, there are some caveats. Mainly, the person who cosigned for the loan is on the hook too so if you default on the payment, it could wreck their credit as well as your own.
                            .col-lg-4
                                .text-20
                                    p Typically anything under 630 is considered a bad credit rating, and even when people
            //==========END ONE CARD =============
            //==========ONE CARD ==============
            .card
                #headingTwo.card-header.collapsed(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    .text-block__column
                        .head-4
                            h4 What if I have bad credit?
                    .accordion-icon
                        +arrow
                #collapseTwo.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                    .text-paragraph
                        .row
                            .col-lg-8
                                p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms.
                                p Typically anything under 630 is considered a bad credit rating, and even when people in this range do get loans, they tend to have a 28.64% APR on average. If you have collateral to put up, this can help you secure better terms despite a low credit rating.
                                p In addition, many lenders allow cosigned loans. These are loans where someone with better credit co-signs the loan with you. While this is a way for you to get a loan that you’d be shut out from otherwise, there are some caveats. Mainly, the person who cosigned for the loan is on the hook too so if you default on the payment, it could wreck their credit as well as your own.
                            .col-lg-4
                                .text-20
                                    p Typically anything under 630 is considered a bad credit rating, and even when people
            //==========END ONE CARD ==============

            //==========ONE CARD ==============
            .card
                #headingThree.card-header.collapsed(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                    .text-block__column
                        .head-4
                            h4 How do interest rates work?
                    .accordion-icon
                        +arrow
                #collapseThree.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                    .text-paragraph
                        .row
                            .col-lg-8
                                p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms.
                                p Typically anything under 630 is considered a bad credit rating, and even when people in this range do get loans, they tend to have a 28.64% APR on average. If you have collateral to put up, this can help you secure better terms despite a low credit rating.
                                p In addition, many lenders allow cosigned loans. These are loans where someone with better credit co-signs the loan with you. While this is a way for you to get a loan that you’d be shut out from otherwise, there are some caveats. Mainly, the person who cosigned for the loan is on the hook too so if you default on the payment, it could wreck their credit as well as your own.
                            .col-lg-4
                                .text-20
                                    p Typically anything under 630 is considered a bad credit rating, and even when people
            //==========END ONE CARD ==============
            //==========ONE CARD ==============
            .card
                #headingFour.card-header.collapsed(data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                    .text-block__column
                        .head-4
                            h4 What affects interest rates?
                    .accordion-icon
                        +arrow
                #collapseFour.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                    .text-paragraph
                        .row
                            .col-lg-8
                                p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms.
                                p Typically anything under 630 is considered a bad credit rating, and even when people in this range do get loans, they tend to have a 28.64% APR on average. If you have collateral to put up, this can help you secure better terms despite a low credit rating.
                                p In addition, many lenders allow cosigned loans. These are loans where someone with better credit co-signs the loan with you. While this is a way for you to get a loan that you’d be shut out from otherwise, there are some caveats. Mainly, the person who cosigned for the loan is on the hook too so if you default on the payment, it could wreck their credit as well as your own.
                            .col-lg-4
                                .text-20
                                    p Typically anything under 630 is considered a bad credit rating, and even when people
            //==========END ONE CARD ==============
            //==========ONE CARD ==============
            .card
                #headingFive.card-header.collapsed(data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                    .text-block__column
                        .head-4
                            h4 What is an APR?
                    .accordion-icon
                        +arrow
                #collapseFive.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                    .text-paragraph
                        .row
                            .col-lg-8
                                p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms.
                                p Typically anything under 630 is considered a bad credit rating, and even when people in this range do get loans, they tend to have a 28.64% APR on average. If you have collateral to put up, this can help you secure better terms despite a low credit rating.
                                p In addition, many lenders allow cosigned loans. These are loans where someone with better credit co-signs the loan with you. While this is a way for you to get a loan that you’d be shut out from otherwise, there are some caveats. Mainly, the person who cosigned for the loan is on the hook too so if you default on the payment, it could wreck their credit as well as your own.
                            .col-lg-4
                                .text-20
                                    p Typically anything under 630 is considered a bad credit rating, and even when people

    .col-xl-3
        +card-sidebar(class="card-flex")