footer.footer
	.container-large
		.footer-top
			.footer-top__nav
				a(href="#top").logo Best Reviews By Consumers
				.footer-menu
					ul
						li
							a(href="#") About Us
						li
							a(href="#") Terms of Use
						li
							a(href="#") Advertising Disclosure
						li
							a(href="#") Partner with Us
						li
							a(href="contacts.html") Contacts
						li
							a(href="#") Privacy Policy
			.accordion-block
				.accordion-block__card
					.accordion-card__head.text-bold
						p.active Boring legal text
						.accordion-card__icon
							+selectArr
					.accordion-card__body
						.row
							.col-lg-8
								.accordion-text
									p Designed to help users make confident decisions online, this website contains information about a wide range of products and services. Certain details, including but not limited to prices and special offers, are provided to us directly from our partners and are dynamic and subject to change at any time without prior notice. Though based on meticulous research, the information we share does not constitute legal or professional advice or forecast, and should not be treated as such.
							.col-lg-4
								.accordion-text.text-20
									p Reproduction of this site in whole or in part is prohibited

	.footer-copyright
		.container-large
			.footer-copyright__content
				p By using our content, products & services you agree to our #[a(href="#!") Terms&nbsp;of&nbsp;Service] and #[a(href="#!") Privacy&nbsp;Policy]
				p #[span.hide-desk Copyright] © 2009-2019 All Rights Reserved