footer.footer
	.container-large
		.footer-top
			.footer-top__nav
				a(href="#top").logo bestofpersonalloans.com
				.footer-menu
					ul
						li
							a(href="#") About Us
						li
							a(href="#") Terms of Use
						li
							a(href="#") Advertising Disclosure
						li
							a(href="#") Partner with Us
						li
							a(href="contacts.html") Contacts
						li
							a(href="#") Privacy Policy
			.footer-select
				.form-select
					.form-select__icon
						+selectArr
					input(type="text" name="" value="Boring legal text" autocomplete="off")
					ul.form-select__options
						li select item
						li select item
						li select item
						li select item
	.footer-copyright
		.container-large
			.footer-copyright__content
				p By using our content, products & services you agree to our Terms of Service and Privacy Policy
				p #[span.hide-desk Copyright] © 2009-2019 All Rights Reserved