.subscribe-block.bg-blue
	.block-title
		h3 Get a full personal loan report via&nbsp;email now
	form.subscribe-form(action="#")
		.form-item
			input(type="email" placeholder="Input your email")
			
		.form-btn
			button.page-button.w-100 Find my best loan