.subscribe-block.bg-blue
	.block-title
		h3 Get a full personal loan report via&nbsp;email now
	form.subscribe-form(action="#")
		.form-item
			input(type="email" placeholder="Input your email")
			.error-text
				p Please recheck your email, it does not look correct
	
		.form-btn
			button.page-button.w-100 Get your report

.recived-block.bg-blue
	.block-title
		h3 Your request has been received
	.recived-block__text
		.recived-block__col
			p In order to proceed with your request we’ve sent you an email with some steps you need to take next. Please check you email ivanmarasin@gmail.com
		.recived-block__btn
			button.button-light.w-100 Edit email address