header.header
	.container
		.header-content
			a(href="index.html").logo bestofpersonalloans.com
			.header-menu
				ul
					li.active
						a(href="#!") Top 10
					li
						a(href="#!") Reviews
					li
						a(href="#!") Peer to Peer
					li
						a(href="#!") Comparison
					li
						a(href="#!") Learn
			a(href="#!").header-button.button-light.w-200  The Very Best of ghjgh gkjkgj
			.menu-toggle
				span