#modalForm.modal-form.modal.show.fade(tabindex="-1" role="dialog"  aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content.contact-form
			button.close(type="button" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true")
						+close
			.modal-body
				form
					.form-body
						.modal-form-title
							.title-4
								h4#modal-title Partner with Us
							.modal-subtitle
								p Tell us a bit more about you so we can explore ways to partner with you and collaborate				
						.feedback-form
							.form-item
								label Full name
								input(type="text" name="" )
							.form-item
								label Email
								input.error(type="email" name="" )
								.error-text
									p Please recheck your email, it does not look correct
							.form-item.form-item--flex
								label Message
								textarea(type="text" name="message"  )
					.form-footer
						.form-btn
							input.page-button.w-200(type="submit" value="Get in Touch") 
						.agree-text
							p By clicking the button you agree to our #[a(href="#!") Privacy Policy]