.container
	include _buttons.pug
	.loan-card
		.loan-card__head
			img(src="img/cards/credible.jpg", alt="img")
		.loan-card__body
			.loan-card__title
				.head-4
					h4 Credible
				.help-block ?
		.loan-card__footer