section(style="margin-bottom: 50px")
    .container
        h3 card-articles
        include _card-articles.pug

section(style="margin-bottom: 50px")
    .container
        h3 accordion
        include _faq.pug


