section.loan-offers
    .container
        .section-title
            h2 Top-3 best personal loans articles
        .articles-cards
            .row
                //===== articles-card-1 =====
                .col-lg-4
                    a(href="#").article-card.article-card-1
                        .article-card__head(style="background-image: url(img/articles/1.jpg)")
                        .article-card__body
                            .article-card__title
                                .head-4
                                    h4
                                        span The Ultimate Guide<br class='br-mobile'> to Personal Loans
                            .article-card__terms
                                .terms-item
                                    p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                //===== articles-card-2 =====
                .col-md-6.col-lg-4
                    a(href="#").article-card.article-card-2
                        .article-card__head(style="background-image: url(img/articles/2.jpg)")
                        .article-card__body
                            .article-card__title
                                .head-4
                                    h4
                                        span Top 5 Personal Loans<br class='br-mobile'> for Debt Consolidation
                            .article-card__terms
                                .terms-item
                                    p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                //===== articles-card-3 =====
                .col-md-6.col-lg-4
                    a(href="#").article-card.article-card-3
                        .article-card__head(style="background-image: url(img/articles/3.jpg)")
                        .article-card__body
                            .article-card__title
                                .head-4
                                    h4
                                        span Online Personal Loans<br class='br-mobile'> with a Cosigner
                            .article-card__terms
                                .terms-item
                                    p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
