section.compares.accent-bg
	.container
		.section-title
			h2 How Credible Compares
		.row
			.col-xl-9
				.compares-content
					.compares-table
						table
							tr
								td
								td 
									img(src="img/compares/1.jpg", alt="img" width="140")
								td 
									img(src="img/compares/2.jpg", alt="img" width="140")
								td 
									img(src="img/compares/3.jpg", alt="img" width="140")
							tr
								th APR
								td 5 – 36%
								td.green-text 4 – 36%
								td.green-text 4 – 36%
								
							tr
								th MIN credit score 
								td 680
								td.green-text none
								td.green-text 580
								
							tr
								th Loan amounts
								td $1,000 – $100,000
								td.red-text $1,000 – $50,000
								td $1,000 - $100,000
							tr
								th Loan term
								td.red-text 24 – 84 months
								td 3 – 180 months
								td 3 - 144 months
								
							tr
								th Best for
								td Debt consolidation loans
								td Variety of loan options
								td Flexible terms

					.compare-articles
						.compare-articles__item
							.article-title
								h4 Credible vs 
									a(href="#!").text-link LendingTree
							.compare-article__text
								p When compared to LendingTree, Credible has similar APRs but offers much higher maximum loan amounts. Credible can't compete with LendingTree's more flexible loan terms but if you have good credit you'll be able to take advantage of Credible's favorable rates.
						.compare-articles__item
							.article-title
								h4 Credible vs 
									a(href="#!").text-link Monevo
							.compare-article__text
								p When compared to LendingTree, Credible has similar APRs but offers much higher maximum loan amounts. Credible can't compete with LendingTree's more flexible loan terms but if you have good credit you'll be able to take advantage of Credible's favorable rates.
			.col-xl-3
				+card-sidebar2
.compare-bottom.pt-140
	.container
		.row
			.col-xl-9
				.color-block
					h4  Summary
					p Credible is a fast and free online loan brokerage service which returns multiple pre-qualification personal loan offers for borrowers. Appreciated by many consumers for its swift response time and clear comparison tables, Credible is a useful tool for anyone with a high credit rating and a need to consolidate debt, finance a major purchase, or open a business. If you don't have good credit rating, you’ll need to look elsewhere.

				.articles-author-info.pt-140
					.article-author__photo
						img(src="img/compares/author.jpg", alt="photo" width="190")
					.article-author__box
						.article-author__name
							h5 Sarah Badani, 
							p bestofpersonalloans.com expert and&nbsp;the&nbsp;article author
						.article-author__desk
							p Sarah Badani has extensive research and&nbsp;review experience in&nbsp;the&nbsp;finance industry. With a degree in&nbsp;psychology and education, she brings a level of depth and understanding to her writing along with her own flavor to spice up each topic in a unique and inviting way