section.faq-page
    .container
        .faq-page__content
            .faq-title
                h3 What to know before applying for a personal loan
            #accordion.faq-accordion
                .card
                    .row
                        .col-lg-8
                            #headingOne.card-header.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
