section.faq
    .container
        .faq-content
            .section-title
                h2 Additional Information
            #accordion.faq-accordion
                .card
                    #headingOne.card-header.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                        .text-block__column
                            .head-4
                                h4 Loan Terms
                        .accordion-icon
                            +arrow
                    #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-lg-8
                                    p As a loan broker, Credible doesn’t extend specific loan terms. The lowest APR for personal loans via Credible is 4.99%, but it can go up to 35.99%. Loan amounts stretch from $1,000 to $100,000, making it a very flexible site for borrowers who aren’t yet sure what they need.
                                        p Consumers should remember that terms can fluctuate even after you receive a pre-qualification offer.No loan terms are guaranteed until the lender has performed a hard credit check and confirmed that your application is accepted, so if you get a good loan offer you should act to secure it quickly.
                                .col-lg-4
                                    .text-20.red-text
                                        p You should remember that terms can fluctuate even after you receive a pre-qualification offer
                .card
                    #headingTwo.card-header.collapsed(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        .text-block__column
                            .head-4
                                h4 Repayment Terms
                        .accordion-icon
                            +arrow
                    #collapseTwo.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-lg-8
                                    p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms.
                                    p Typically anything under 630 is considered a bad credit rating, and even when people in this range do get loans, they tend to have a 28.64% APR on average. If you have collateral to put up, this can help you secure better terms despite a low credit rating.
                                    p In addition, many lenders allow cosigned loans. These are loans where someone with better credit co-signs the loan with you. While this is a way for you to get a loan that you’d be shut out from otherwise, there are some caveats. Mainly, the person who cosigned for the loan is on the hook too so if you default on the payment, it could wreck their credit as well as your own.
                                .col-lg-4
                                    .text-20.red-text
                                        p Typically anything under 630 is considered a bad credit rating, and even when people
                .card
                    #headingThree.card-header.collapsed(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        .text-block__column
                            .head-4
                                h4 Privacy & Security
                        .accordion-icon
                            +arrow
                    #collapseThree.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-lg-8
                                    p Many lenders can provide loans even if you have bad credit, though you will face tougher interest rates and less leeway with the loan amount and repayment terms.
                                    p Typically anything under 630 is considered a bad credit rating, and even when people in this range do get loans, they tend to have a 28.64% APR on average. If you have collateral to put up, this can help you secure better terms despite a low credit rating.
                                    p In addition, many lenders allow cosigned loans. These are loans where someone with better credit co-signs the loan with you. While this is a way for you to get a loan that you’d be shut out from otherwise, there are some caveats. Mainly, the person who cosigned for the loan is on the hook too so if you default on the payment, it could wreck their credit as well as your own.
                                .col-lg-4
                                    .text-20.red-text
                                        p Typically anything under 630 is considered a bad credit rating, and even when people
