.pt-140
	section.overview
		.container
			.row 
				.col-xl-9
					.overview-content
						.section-title
							h2 Overview
						article.text-article
							.text-block
								.row
									.col-lg-8
										.text-block__column
											p Credible is an online loans broker that provides fast and free initial responses, ideal for anyone who needs a loan and doesn’t know where to start. It speeds up the process of hunting for a suitable personal loan by sending your application to multiple providers at the same time and running a soft credit check (which doesn’t affect your credit rating). Credible returns up to 6 preliminary loan offers so that you can easily compare your options and then contact the lender directly to complete the loan process.
									.col-lg-4
										.text-block__column.text-20
											p Credible returns up to 6 preliminary loan offers so that you can easily compare your options
						article.text-article
							.article-title
								h4 Best For?
							.text-block
								.row
									.col-lg-8
										.text-block__column
											p Customers with good credit scores who wants to consolidate their debt with a personal loan. Credible requires a credit score of around 680 and up to qualify for their service, but the lowest APR of 4.99% makes it a potentially cost-effective way to consolidate all debt payments into one.
						article.text-article
							.article-title
								h4 Loan Features
							.text-block
								.row
									.col-lg-8
										.text-block__column
											p Credible’s biggest draw is the speed of response. Completing multiple application forms asking for the same information, again and again, is draining and time-consuming, so being able to get responses in minutes from a number of lenders with just 1 application is a big plus. 
									.col-lg-4
										.text-block__column.text-20
											p Unlike many loan broker services, Credible is transparent about its fees
							.text-block
								.row
									.col-lg-8
										.text-block__column
											p Unlike many loan broker services, Credible is transparent about its fees. Although it offers a range of APRs from different lenders, the lowest rate of 4.99% is competitive.
											p You can use Credible to check up on loan offers for different amounts without harming your credit rating, which is useful if you aren’t yet sure how much you will need. With loan amounts ranging from $1,000 to $100,000, you can get useful loan offers whether you need to redo your home or just bridge a small gap till your next paycheck.
							
						.row
							.col-xl-8
								.color-block
									h4  Highlights for Credible
									ul
										li Fast response time, 
										li No fees for the service, 
										li Access to multiple lenders at once, 
										li Side by side comparison guide, 
										li Faster path to getting the loan; some lenders can process your request within one business day
									
						article.text-article
							.article-title
								h4 The Application Process
							.text-block
								.row
									.col-lg-8
										.text-block__column
											p Credible’s online application process is streamlined and straightforward and can be started by creating a password-protected account. Choose the personal loans option from the drop-down list and complete a 2-page online application. Credible asks about your education history and employment status, annual income, and credit score. You'll have to provide personal identifying information that includes your social security number, date of birth, and address and share how much you want to borrow and why.
									.col-lg-4
										.text-block__column.text-20
											p You'll have to provide personal identifying information that includes your social security number, date of birth, and address and share how much you want to borrow and why
							.text-block
								.row
									.col-lg-8
										.text-block__column
											p After receiving this information, Credible will carry out a short ‘soft credit’ check to verify your credit rating and identification details. These checks don’t affect your credit standing at all. Your credit result and application is then sent on to a number of loan companies.
											p Within a few minutes, Credible returns up to 6 pre-qualification loan offers. You can compare vital features such as the APR, repayment terms, and requirements at a glance in a clear table, or click through to the website to get more details. Once you find a loan offer that suits you, visit the provider’s website to see if you like their terms and conditions. You’ll finish off the application process on the provider’s website.
						
						.row
							.col-xl-8
								.color-block.color-block--dark
									h4  Credible requirements
									ul
										li Credit score of 680 and over,
										li Citizenship or permanent residency of the United States, 
										li A checking account in&nbsp;your&nbsp;name, 
										li You must be over 18 years old
									button.page-button Get your rate now
				.col-xl-3
					.card-sidebar.card-sidebar--long.card-flex
						.card-sidebar__img
							img(src="img/cards/fvi.jpg", width="300" alt="img")
						.card-sidebar__body
							.card-sidebar__label
								p Tip #12
							.card-sidebar__title
								h3 Take a Loan Only When Absolutely Necessary
							.card-sidebar__text
								p A personal loan should only be taken after a thorough assessment of your requirements and already existing loan/repayment commitments