.pt-100
	section.review-content
		.container
			.loan-terms-wrapper
				.row
					.col-xl-9
						.review-terms
							.review-terms__header
								.section-title.section-title--label
									h2 Crediable
									span Best ARP
								.text-bold.text-20
									p Credible is a free online loan brokerage service perfect for anyone with a high credit rating looking to consolidate debt, finance a major purchase, or open a business
							.review-terms__body
								.loan-terms
									.row
										.col-md-6
											.term-percent
												p 5 — 36%
												span Annual Percentage Rate (APR)
										.col-md-6
											.term-repayment
												p 2 — 7 years
												span Repayment Terms
										.col-md-6
											.term-amount 
												p $10k — 100k
												span Loan Amount
										.col-md-6
											.term-score
												p 680
												span Minimum credit score
													.page-tooltip
														span ?
														.page-tooltip__box
															p Lenders often determine loan approval based on combo of loan purpose & amount
								.loan-terms-info
									.row
										.col-md-6
											.terms-info__text
												p Loan type
												span Fixed rate unsecured personal loans
										
											.terms-info__text
												p Best for
												span Debt consolidation loans for people with good credit

										.col-md-6
											.terms-info__text
												p Pros
												span No fees. Get responses in minutes
										
											.terms-info__text
												p Cons
												span High credit score required. Doesn’t work with credit unions or refinancing companies

					.col-xl-3
						+card-sidebar(class="card-flex")
			.subscribe-block-wrapper
				.row
					.col-xl-9
						.subscribe-block.bg-blue
							.block-title
								h3 Get a full mortgage loan report via&nbsp;email now
							form.subscribe-form(action="#")
								.form-item
									input(type="email" placeholder="Input your email")
									.error-text
										p Please recheck your email, it does not look correct
							
								.form-btn
									button.page-button.w-100 Get your report
	include _review-content