.inner-header{
	padding-top: 50px;
	padding-bottom: 70px;	
	.title-1{
		h1{
			padding: 0;
			margin-bottom: 20px;
		}
		
	}
	.text-30 p{color: #fff;}
}
.inner-header.header-toplevel{
	.container--blue{
		padding-top: 50px;
	padding-bottom: 70px;	
	}
}
.top-level-cards__desk {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
}