.inner-header h1 {
  color: @purple;
    padding-top: 20px;
  padding-bottom: 40px;
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.inner-header .title-1.pt-mob h1 {
  padding-top: 0;
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

article.text-article {
  .color-block {
    margin-top: 7px;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
}

.text-articles.mt-10 {
  margin-top: 5px;
}

.col-lg-4.fl-center {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
  }

}

.methodology-content .article-title {
  margin-bottom: 24px;
  @media (max-width: 767px) {
    margin-bottom: 17px;
  }
}

.methodology-content .text-article {
  margin-bottom: 35px;
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.methodology-content .text-articles {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  @media (max-width: 767px) {
    padding-bottom: 45px;
  }
}

.best-offers {
  margin-top: 100px;

  .subscribe-block {
    margin-top: 100px;
  }
}