.loan-card{
	max-width: 400px;
	.ma;
	border-radius:10px;
	position: absolute;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	padding-bottom: 50px;
	border: 1px solid red;
}
.loan-card__head{
	box-shadow: 0 4px 4px rgba(0,0,0, .25);
	.flex;
	justify-content: space-between;
}
.loan-card__body{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	min-height: 230px;
}
.loan-card__footer{
	padding-left: 30px;
	padding-right: 30px;
}