.collaboration {
  .contact-cards {
    margin-top: 60px;
    margin-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 70px;

    .row .col-md-6:nth-last-child(2){
      .contact-card{
        margin-bottom: 40px;
      }
    }
  }


  .contact-card {
    display: block;
    max-width: 335px;
    .ma;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    

    @media (max-width: 1199px) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }


  .card-icon {
    height: 100px;
  }

  .article-title h4 {
    margin-top: 30px;
  }

  .card-text p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .text-block.text-block--flex {
    height: 100%;
    display: flex;
    align-items: flex-end;

    @media (min-width: 992px) {
      padding-bottom: 40px;
    }

    @media (min-width: 767px) and (max-width: 991px) {
      padding-bottom: 62px;
    }


    .text-20 p {
      color: @purple;

      @media (max-width: 1199px) {
        margin-top: 30px;
      }

      @media (max-width: 991px) {
        margin-top: 0;
      }
    }
  }
}
