.faq {
  position: relative;
  .faq-content {
    cursor: pointer;
    background-color: #F4FBFF;

    .section-title {
      margin-bottom: 30px;

      @media (max-width: 767px) {
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .accordion-icon.active svg {
    transform: rotate(180deg);

    path {
      fill: @blue;
    }
  }

  .accordion-icon svg {
    position: absolute;
    
    transform: translateY(-50%);
    right: 27px;
    transition: 0.5s;
    top: 35px;

    // @media (max-width: 1199px) {
    //   top: 7px;
    //   right: 20px;
    // }

    // @media (max-width: 991px) {
    //   right: 0;
    //   top: 10px;
    // }
  }

  .card-header {
    padding: 0;
    border-bottom: 0;
    background-color: transparent;
    min-height:65px;
    display: flex;
    align-items: center;
    .head-4 {
      color: #000000;
      border: none;
     
    }
  }

  .card-header.collapsed {
    .head-4 {
      color: @blue;
      width: fit-content;
        h4{
          display: inline;
          width: fit-content;
        background-repeat: no-repeat;
        background-position: center bottom 1px;
        background-size: 103% 1px;
      background-image: linear-gradient(to right, rgba(77, 124, 254, 0.2), rgba(77, 124, 254, 0.2));
        }
    }
  }

  .card {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    
    // padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 10px;
    @media(max-width:767px){
      padding-right: 58px;
    }

  }

  .text-paragraph{
    padding-top: 40px;
  }

  .text-paragraph p + p {
    padding-top: 20px;
  }

  .text-20 {
    padding-left: 10px;
    color: @purple;

    @media (max-width: 991px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .col-lg-8, .col-lg-4 {
    padding-top: 40px;
  }
}
.faq .card-fvi{
  @media(max-width:1199px){
    margin-left: 0px;
  }
  @media(max-width:767px){
    margin-left: 20px;
  }
}