extends ../layouts/layout.pug

block content
	#overlay
	include ../sections/_mobile-menu.pug
	+header([{link: "index.html", title: "Top 10"}, {link: "review.html", title: "Reviews"}, {link: "methodology.html", title: "Peer to Peer", addClass: 'active'}, {link: "top-level.html", title: "Comparison"}, {link: "sub-level.html", title: "Learn"}])
	include ../sections/method/_header-banner
	include ../sections/method/_faq
	include ../sections/method/_card-articles
	include ../sections/_footer.pug

block variables
	-var title = "Methodology";