extends ../layouts/layout.pug

block content
	+header([{link: "index.html", title: "Top 10"}, {link: "review.html", title: "Reviews", addClass: 'active'}, {link: "#", title: "Peer to Peer"}, {link: "#", title: "Comparison"}, {link: "#", title: "Learn"}])
	include ../sections/review/_header-banner
	include ../sections/review/_review-content.pug


block variables
	-var title = "Page";