extends ../layouts/layout.pug

block content
	+header([{link: "index.html", title: "Top 10"}, {link: "review.html", title: "Reviews", addClass: 'active'}, {link: "methodology.html", title: "Peer to Peer"}, {link: "#", title: "Comparison"}, {link: "#", title: "Learn"}])
	include ../sections/review/_header-banner
	include ../sections/review/_review-content.pug
	include ../sections/review/_additional-info.pug
	include ../sections/review/_compares-block.pug
	include ../sections/_footer.pug

block variables
	-var title = "Page";