extends ../layouts/layout.pug

block content
	#overlay
	+floatHeader
	include ../sections/review/_header-banner
	main.page-review
		include ../sections/review/_review-content-new.pug
		include ../sections/review/_faq.pug
		include ../sections/review/_compares-block.pug
		include ../sections/_card-articles-section.pug
		include ../sections/_footer.pug

block variables
	-var title = "Page";