extends ../layouts/layout.pug

block content
	#overlay
	+floatHeader
	include ../sections/review/_header-banner
	+header([ {link: "review.html",  title: "Reviews" }, {link: "methodology.html", title: "Peer to Peer"}, {link: "top_level.html", title: "Comparison"}, {link: "sub-level.html", title: "Learn" }])
	main.page-review
		include ../sections/review/_review-content-new.pug
		include ../sections/review/_faq.pug
		include ../sections/review/_compares-block.pug
		include ../sections/_card-articles-section.pug
		include ../sections/_footer.pug
		include ../sections/_modal.pug

block variables
	-var title = "Page";