extends ../layouts/layout.pug

block content
	#overlay
	+floatHeader
	include ../sections/review/_header-banner
	include ../sections/review/_review-content.pug
	include ../sections/review/_faq.pug
	include ../sections/review/_compares-block.pug
	include ../sections/_card-articles.pug
	include ../sections/_footer.pug

block variables
	-var title = "Page";