.pt-100.pb-140 
	section.top-level
		.container 
			.top-level-block
				.row 
					.col-xl-9 
						.top-level-cards
							.section-title 
								h2 Рersonal loans
							.top-level-cards__desk
								p Personal loans can be offered by banks, credit unions, or online lenders. The money you borrow must be repaid over time, typically with interest. Some lenders may also charge fees for personal loans