//star
mixin star
	span&attributes(attributes)
		<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M13.091 0.395006L16.271 7.97201L24.413 8.67501C24.977 8.72501 25.207 9.43401 24.778 9.80701L18.603 15.193L20.453 23.206C20.582 23.763 19.982 24.2 19.497 23.904L12.501 19.657L5.50399 23.904C5.01799 24.199 4.41999 23.761 4.54799 23.206L6.39799 15.193L0.221992 9.80601C-0.207008 9.43301 0.0219917 8.72301 0.587992 8.67401L8.72899 7.97001L11.909 0.395006C12.13 -0.131994 12.87 -0.131994 13.091 0.395006Z" />
			</svg>
