//star
mixin star
	span&attributes(attributes)
		<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M13.091 0.395006L16.271 7.97201L24.413 8.67501C24.977 8.72501 25.207 9.43401 24.778 9.80701L18.603 15.193L20.453 23.206C20.582 23.763 19.982 24.2 19.497 23.904L12.501 19.657L5.50399 23.904C5.01799 24.199 4.41999 23.761 4.54799 23.206L6.39799 15.193L0.221992 9.80601C-0.207008 9.43301 0.0219917 8.72301 0.587992 8.67401L8.72899 7.97001L11.909 0.395006C12.13 -0.131994 12.87 -0.131994 13.091 0.395006Z" />
			</svg>
mixin selectArr
	<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M17.82 1.03L16.918 0.172C16.798 0.057 16.659 0 16.503 0C16.347 0 16.208 0.057 16.088 0.172L9 6.921L1.912 0.172C1.792 0.057 1.654 0 1.497 0C1.341 0 1.203 0.057 1.082 0.172L0.181 1.031C0.06 1.145 0 1.277 0 1.426C0 1.575 0.061 1.706 0.181 1.821L8.585 9.824C8.705 9.939 8.844 9.996 9 9.996C9.156 9.996 9.295 9.939 9.415 9.824L17.82 1.821C17.94 1.706 18 1.575 18 1.426C18 1.277 17.94 1.145 17.82 1.03Z" fill="#CCCCCC"/>
		</svg>
mixin close
	<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M17.6528 14.9997L29.4504 3.20231C30.1832 2.46903 30.1832 1.28105 29.4504 0.54902C28.7177 -0.183007 27.5311 -0.183007 26.7983 0.54902L15.0006 12.3464L3.20169 0.54902C2.46895 -0.183007 1.2823 -0.183007 0.549558 0.54902C-0.183186 1.28105 -0.183186 2.46903 0.549558 3.20231L12.3472 14.9997L0.549558 26.7971C-0.183186 27.5291 -0.183186 28.7183 0.549558 29.4504C0.91593 29.8164 1.39609 30 1.87625 30C2.35516 30 2.83532 29.8164 3.20169 29.4504L15.0006 17.653L26.7983 29.4504C27.1647 29.8164 27.6448 30 28.1238 30C28.6039 30 29.0841 29.8164 29.4504 29.4504C30.1832 28.7183 30.1832 27.5291 29.4504 26.7971L17.6528 14.9997Z" fill="#282D6F"/>
		</svg>
