section.header-banner
	.container-large
		.header-banner__content
			.row
				.col-lg-7.col-xl-8
					.title-1
						h1 The best<br>personal loans<br>to get you<br> one step ahead
					.header-subtitle.desk-subtitle
						p from #[span 4.99% APR]
				.col-lg-5.col-xl-4
					.contact-form__wrapper
						include ../_contacts-form
						.header-subtitle.desk-mob
							p from #[span 4.99% APR]