section.header-banner
	.container-large
		.header-banner__content
			.title-1
				h1 Best reviews by&nbsp;consumers about things that matter
			.page-menu
				nav
					a(href="#!") Loans 
					a(href="#!") Mortgages
					a(href="#!") Credit Cards
				p and so much more so soon